<launch>

<!--  <node name="controller"
        pkg ="joy"
        type="joy_node"
        respawn="false"
        output="screen">
    <remap from="/joy"
             to="/hyperion/controller"/>
  </node>-->

 <node name="hyperion"
       pkg ="hyperion_line_tracker"
       type="hyperion_line_tracker"
       respawn="false"
       output="screen">
    <param name="kp"            type="double"    value="6"/>
    <param name="ki"            type="double"    value="0.0"/>
    <param name="kd"            type="double"    value="0.0"/>
    <param name="pid_freq"      type="double"    value="5"/>
    <param name="max_speed"     type="int"       value="100"/>
  </node>

  <node name="test"
        pkg ="hyperion_tests"
        type="hyperion_tests"
        respawn="false"
        output="screen">
    <remap from="~/us_distances"
           to="/hyperion/distances"/>
    <remap from="~/ir_error"
           to="/hyperion/ir_error"/>
  </node>-->

<!--  <node name="motor_driver"
        pkg ="controlador_motores"
        type="motor_driver.py"
        respawn="false"
        output="screen">
    <remap from="/motor_speeds"
           to="/hyperion/speeds"/>
  </node>-->


</launch>
